table.tasks { width: 100%; }
table.tasks tr:nth-child(even) { background-color: lightgray; }
td.act { white-space: nowrap; }
#td.task { overflow: hidden; white-space: nowrap; text-overflow: ellipsis; }
