{% extends 'base.html' %}

{% block title %}GoTime{% endblock %}

{% block content %}

<form action="{{ url_for('stage_exec') }}">
	<p>
		<label for="context">Context: </label>
		<select name="context" id="context">
			{% for contextsel in contexts %}
			<option{% if contextsel == context %} selected="selected"{% endif %}>{{ contextsel }}</option>
			{% endfor %}
		</select>
		<input type="submit" value="Switch" />
</form>

{% with messages = get_flashed_messages() %}
{% if messages %}
<ul>
	{% for message in messages %}
	<li>{{ message }}</li>
	{% endfor %}
</ul>
{% endif %}
{% endwith %}

<p>{{ today }}</p>

<ul>
	{% for task in tasks %}
	<li>{% if (not stage and task.context == context) or (stage and task.warm) %}<strong>{% endif %}{{ task.name }}{% if  (not stage and task.context == context) or (stage and task.warm)  %}</strong>{% endif %}{% if task.context != context %} ({{task.context}}){% endif %}{% if task.due_date %} (Due {{task.due_date}}){% endif %}<form action="{{ url_for('modify_task', task_id=task.id)}}" method="POST"><input type="submit" name="complete" value="&check;" />{% if task.warm %}<input type="submit" name="unstage" value="X" />{% else %}<input type="submit" name="stage" value="S" /><input type="submit" name="push" value="&#128197;" />{% endif %}<input type="hidden" name="mode" value="{{stage}}" /></form></li>
	{% endfor %}
</ul>

{% if stage %}
<p><a href="{{url_for('stage_exec')}}">FOCUS</a></p>
<p>View next session {{s1_date}} to {{s2_date}}</p>
{% else %}
<p><a href="{{url_for('stage_exec', stage='on')}}">Show all {{context}} tasks to be addressed before {{s1_date}}</a></p>
{% endif %}

<form action="{{url_for('new_task')}}" method="POST">
	<p>
	New task: 
		<input name="name" />
		<input type="submit" />
	</p>
</form>

{% endblock %}
