{% extends 'base.html' %}

{% block title %}GoTime{% endblock %}

{% block content %}

<form action="{{ url_for('stage_exec') }}">
	<p>
		<label for="context">Context: </label>
		<select name="context" id="context">
			{% for contextsel in contexts %}
			<option{% if contextsel == context %} selected="selected"{% endif %}>{{ contextsel }}</option>
			{% endfor %}
		</select>
		<input type="submit" value="Switch" />
	</p>
</form>

{% with messages = get_flashed_messages() %}
{% if messages %}
<ul>
	{% for message in messages %}
	<li>{{ message }}</li>
	{% endfor %}
</ul>
{% endif %}
{% endwith %}

<p>{{ today }}</p>

<!--
<table class="tasks">

	<tr>
		<th>P</th>
		<th>Task</th>
		<th>Act</th>
	</tr>
-->

{% for list in tasks %}
<h1>{{list.list_name}}</h1>
<ul>
{% for card in list.cards %}
<li>{{card.card_name}}</li>
<!--
			<input type="submit" name="priup" value="&#8593;" />
			<input type="submit" name="pridn" value="&#8595;" />
			<input type="submit" name="complete" value="&check;" />
			<input type="submit" name="unstage" value="X" />
			<input type="submit" name="stage" value="S" />
			<input type="submit" name="push" value="&#128197;" />
-->
{% endfor %}
</ul>
{% endfor %}
<!-- </table> -->

<form action="{{url_for('new_task')}}" method="POST">
	<p>
	New task: 
		<input name="name" />
		<input type="submit" />
	</p>
</form>

{% endblock %}
